.common {
    border: 7px solid white;
    position: absolute;
}

.Header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 18px;
}

.Leftmenu {
    top: 44px; 
    left: 5px;
    width: 205px;
    bottom: 7px;
}

.Mainheader {
    top: 44px;
    right: 340px;
    left: 224px;
    bottom: 7px;
}

.Header2 {
    top: 44px; 
    right: 5px;
    width: 300px;
    bottom: 7px;
}